[submodule "libsearpc"]
	path = libsearpc
	url = https://github.com/haiwen/libsearpc
[submodule "ccnet"]
	path = ccnet
	url = https://github.com/haiwen/ccnet
[submodule "seafile-client"]
	path = seafile-client
	url = https://github.com/haiwen/seafile-client
[submodule "seafile"]
	path = seafile
	url = git@github.com:ggkitsas/seafile.git
